contact_us/files/*
poll/toupiao/*
book/toupiao/*
book/toupiao_bak/*
book/tmpfile.xml

netdisk/*
!netdisk/*.ico
!netdisk/*.php
!netdisk/*/

news/politics/*
news/world/*
news/qdaily/*
news/*.xml

proxy
getwx/wxmanager

weather/image/*
weather/weather.txt
